.primary {
    color: orange;
}

.class-list-view {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 5px;
    padding: 12px;
    grid-column: 1 / span 4;

}

.class-list-view h3{
    text-align: left;
    font-size: 150%;
}
.class-list-view button{
    background-color:rgb(204,237,237);
    font-family: "Heiti SC";
    font-size: 15px;
    background-color: darkslategray;
    color: white;
    height: 65px;
    width: 700px;
}
