.course{
    padding-left: 40px;
    padding-top: 40px;
    background-color: aquamarine;
    padding-bottom: 18%;
}

.inline{
    display: flex;
    flex-direction: row;
}
.course h1{
    text-align: left;
    font-family: "Comic Sans";
}

.course button{
    text-align: right;
    background-color: black;
    color: white;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 0px 20px;
}