.course{
    font-family: "Heiti SC";
    font-size: 20px;
    background-color: darkslategray;
    color: white;
    padding-top: -10px;
    width: 900px;
    padding-bottom: 5px;

}

.inline{
    display: flex;
    flex-direction: row;
}
.course h1{
    text-align: left;
    font-family: "Comic Sans";
}

.course button{
    text-align: right;
    background-color: black;
    color: white;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 0px 20px;
}
p{
    font-size: 25px;
    background-color: lavenderblush;
    width: 250px;
    height: 30px;
    padding-left: 25px;
}