/*CURSOR*/
html {
    cursor: none;
}
  
#circularcursor {
    background-color: transparent;
    border:1px solid black;    
    height:20px;
    width:20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: absolute;
    z-index: 1;
}

body {
    /*GOAT article: https://stackoverflow.com/questions/16427903/remove-all-padding-and-margin-table-html-and-css*/
    font-family: 'Signika', sans-serif;
    border-collapse: collapse;
    padding: 0; 
    margin: 0;
}

/*THIS IS FOR THE NAVIGATION BAR AT THE TOP */
.topnav {
    background-color: darkslategray;
    overflow: hidden;
    padding: 25px;
    position: sticky;
    top: 0;
  }
.topnav b {
    float: left;
    color: lavenderblush;
    text-align: center;
    padding: 10px 18px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Heiti SC";
    font-weight: bolder;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Heiti SC";
}

.topnav a:hover {
    background-color: lavenderblush;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}